<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4"></trace>
		<sources>
			<source name ="ClientApp" switchName="mySwitch">
				<listeners>
					<add name="FileLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="MyStore.Client.log">
						<filter initializeData="All" type="System.Diagnostics.EventTypeFilter"/>
					</add>
					<remove name="Default"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="mySwitch" value="Verbose" />
		</switches>
	</system.diagnostics>
</configuration>